@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-950 text-stone-300 font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-light;
  }

  h1 {
    @apply text-4xl text-stone-100;
  }

  h2 {
    @apply text-xl text-stone-200;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-800 rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-700;
  }
}
